@charset "UTF-8";

.container-agendamentos {
    padding: 0 60px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container-agendamentos h1 {
    font-family: 'Pacifico', cursive;
    color: var(--cor-primaria);
    font-size: 3rem;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1.1rem;
    color: var(--cor-texto-secundario);
    margin-bottom: 20px;
}

/*inicio do kanban*/
.kanban {
    display: flex;
    gap: 20px;
    padding: 24px;
    width: 120%;
    height: 90vh;
    overflow-x: auto;
}
.kanban-column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    overflow-y: auto;
    background-color: #f6f8fc;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    padding: 12px;
    overflow: hidden;
    position: relative;
    min-width: 252px;
}
.kanban-column::after { /*ver se ha necessidade de deixar esse bloco de código*/
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}
.kanban-column[data-id="1"]::after {
    background-color: #92a5fb;
}

.kanban-column[data-id="2"]::after {
    background-color: #d9534f;
}

.kanban-column[data-id="3"]::after {
    background-color: #6ed0bc;
}

.kanban-column[data-id="4"]::after {
    background-color: #fea065
}
.kanban-title {
    display: flex;
    justify-content: space-between;
}
.kanban-title h2 {
    font-size: 18px;
    color: #4b5563; /*mudar depois a cor para uma padrao do sistema*/
    font-weight: 600;
}

.kanban-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.kanban-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff; /*mudar cor*/
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.badge {
    color: #ffffff;
    width: fit-content;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
}
.badge.high {
    background-color: #d573b6;
}

.badge.medium { /*corte de cabelo*/
    background-color: #fea065;
}

.badge.low {
    background-color: #92a5fb;
}

.badge.lights { /*coloração e luzes*/
    background-color: #6ed0bc;
}

/* Tablets */
@media (max-width: 992px) {
  .kanban {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-agendamentos {
    padding: 0 30px;
  }
}

/* Dispositivos Móveis */
@media (max-width: 768px) {
  .kanban-board {
    grid-template-columns: 1fr;
  }
  .container-agendamentos h1 {
    font-size: 2.5rem;
  }
}


