@charset "UTF-8";
@import url(../css/theme.css);
@import url(../css/carousel.css);
@import url(../css/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto-principal);
  line-height: 1.6;
}

header {
  background: var(--cor-branco);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  border-bottom: 1px solid var(--cor-borda);
  flex-wrap: wrap;
}

header h1 {
  font-size: 2.5rem;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  font-family: serif;
  font-style: italic;
}

/*formatacao do menu*/
nav ul { 
  list-style: none;  
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

nav ul li {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: var(--cor-texto-principal);
  transition: color 0.3s ease;
}

nav ul li:hover {
  color: var(--cor-primaria-clara);
}

nav ul li a:hover {
  color: var(--cor-primaria-clara);
}

/*active*/
.menu-navegacao {
  position: relative;
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.menu-navegacao ul {
  position: relative;
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu-navegacao .menu-item {
  position: relative;
  z-index: 1;
}

.menu-navegacao .menu-item a {
  padding: 8px 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-navegacao .menu-item a:hover {
  color: var(--cor-primaria-clara);
}

.menu-navegacao .menu-item.active a {
  color: var(--cor-primaria-clara);
}


.nav-indicator {
  position: absolute;
  background-color: transparent;
  border: 2px solid var(--cor-primaria-clara);
  border-radius: 25px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s ease;
  z-index: 0;
  pointer-events: none;
  opacity: 0;     /* Começa invisível, JS controla a visibilidade */
                 /* width, height, top, left serão definidos dinamicamente pelo JavaScript */
}

.redes-sociais {
  display: flex;
  gap: 15px;
}

.redes-sociais i {
   cursor: pointer;
   font-size: 25px;
   color: var(--cor-texto-principal);
   transition: transform 0.3s ease, color 0.3s ease;
}

.redes-sociais i:hover {
  transform: scale(1.2);
  color: var(--cor-primaria-clara);
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background: linear-gradient(to right, #fce4ec, #ffffff);
  flex-wrap: wrap;
  text-align: center;
}

.texto-hero {
  max-width: 900px;
  flex-basis: 50%; /* Para ocupar metade do espaço em telas maiores */
  padding-right: 20px; /* Espaçamento caso a imagem fique ao lado */
}

.texto-hero h1 {
  font-size: 80px;
  color: var(--cor-primaria-texto);
  font-family: 'Pacifico', cursive;
  transition: transform 0.4s;
  margin-left: 230px;
  text-align: left;
}

.texto-hero h1:hover {
  transform: scale(1.05);
}

.texto-hero p {
  font-size: 30px;
  color: var(--cor-primaria-texto);
  font-family: 'Pacifico', cursive;
  margin-top: 10px;
  margin-left: 170px;
}

.imagem-hero img {
  max-width: 480px;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.imagem-hero img:hover {
  transform: scale(1.03);
}
