:root {
    --cor-primaria: #f47878;
    --cor-primaria-rgb: 244, 120, 120;
    --cor-primaria-clara: #f9a7a7;
    --cor-primaria-fundo: #fce4ec;
    --cor-primaria-texto: #f8b7c2;
    --cor-texto-principal: #333;
    --cor-texto-secundario: #555;
    --cor-fundo: #fdfdfd;
    --cor-borda: #ddd;
    --cor-branco: #fff;
    --cor-botao: #f5a1b6d3;
    --cor-carrossel-fundo-legenda: #000000;
}